div#container {
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

div#box a {
    border: 1px solid #fff;
    color: #fff;
    font-size: 40px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
}

div#box a:hover {
    border: 1px solid skyblue;
    color: skyblue;
    background-color: white;
    transition: 1s ease-out;
}